<div class="container">
  
  <div class="page-header">
    <h1><%= @article.title %></h1>
  </div>
  
  <div class="description col-xs-12">
    <%= @article.description %>
  </div>
  
  <div class="row">
    
    <div class="col-sm-4">
      <%= link_to 'Edit this article', edit_article_path(@article), class: "btn btn-default btn-primary action-btn" %>
    </div>  
    <div class="col-sm-4">  
      <%= link_to 'Delete this article', article_path(@article), method: :delete, data: { confirm: "Are you sure want to delete this article?" }, class: "btn btn-default btn-danger action-btn" %>
    </div>  
    <div class="col-sm-4">  
      <%= link_to 'Show all articles', articles_path, class: "btn btn-default btn-success action-btn" %>
    </div>
    
  </div>
  
</div>