<div class="container">
  
  <div class="page-header">
    <h1><%= @article.title %></h1>
  </div>
  
  <div class="description col-xs-12">
    <%= @article.description %>
  </div>
  
  <div class="row">
    
    <div class="col-xs-4">  
      <%= link_to articles_path, class: "btn btn-purple action-btn" do %>
        <i class="glyphicon glyphicon-home"></i>
      <% end %> 
    </div>
    
    <div class="col-xs-4">
      <%= link_to edit_article_path(@article), class: "btn btn-purple action-btn" do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
    </div>
    
    <div class="col-xs-4">
      <%= link_to article_path(@article), method: :delete, data: { confirm: "Are you sure want to delete this article?" }, class: "btn btn-purple action-btn" do %>
        <i class="glyphicon glyphicon-remove"></i>
      <% end %>  
    </div>  
    
  </div>
  
</div>